name: CI/CD

on: 
  push:
  pull_request:

env:
  NODE_VERSION: 14.x
  PROJECT_NAME: solda-dashboard
  DOCKER_REGISTRY_HOST: ghcr.io
  DOCKER_IMAGE: ghcr.io/${{ github.repository }}/${{ github.event.repository.name }}
  DOCKER_TAG: ${{ github.sha }}

jobs:
  test:
    runs-on: ubuntu-20.04
    steps:
      - uses: actions/checkout@v2
      
      - name: test backend
        run: php artisan test --without-tty
      
      - uses: noi-techpark/github-actions/npm-build@v2
        with:
          build-command: npm run prod
          node-version: ${{env.NODE_VERSION}}

  deploy_test:
    runs-on: ubuntu-20.04
    if: github.ref == 'refs/heads/main'
    needs: test
    concurrency: deploy-test
    steps:
      - name: Checkout source code
        uses: actions/checkout@v2

      - name: Create .env file
        uses: noi-techpark/github-actions/env-file@v2
        env:
          X_COMPOSE_PROJECT_NAME: ${{ env.PROJECT_NAME }}
          X_DOCKER_IMAGE: ${{ env.DOCKER_IMAGE }}
          X_DOCKER_TAG: ${{ env.DOCKER_TAG }}

          X_APP_ENV: "production"
          X_APP_DEBUG: true
          X_APP_URL: "https://dashboard.solda.testingmachine.eu"
          X_SERVER_PORT: 1077

      - name: Build and push 
        uses: noi-techpark/github-actions/docker-build-and-push@v2
        with:
          docker-host: ${{ env.DOCKER_REGISTRY_HOST }}
          docker-username: ${{ github.actor }}
          docker-password: ${{ secrets.GITHUB_TOKEN }}
          working-directory: ./
          docker-compose-file: docker-compose.yml

      - name: Deploy application
        uses: noi-techpark/github-actions/docker-deploy@v2
        with:
          hosts: 'test'
          ssh-private-key: ${{ secrets.SSH_PRIVATE_KEY }}
          docker-host: ${{ env.DOCKER_REGISTRY_HOST }}
          docker-username: 'noi-techpark-bot'
          docker-password: ${{ secrets.GH_PERSONAL_ACCESS_TOKEN }}
          project-name: ${{ env.PROJECT_NAME }}
